    <div class="container">
      <div class="row" ng-cloack>
        <h2>Customers</h2>
        <br>
        <form>
        <div class="form-group">
          <label>Filter</label>
          <input type="text" class="form-control" data-ng-model="customerFilter.name">
        </div>
        </form>
        <br>
        <table class="table table-striped table-hover table-responsive">
          <tr>
            <th>#</th>
            <th ng-click="doSort('name')">Name</th>
            <th ng-click="doSort('city')">City</th>
            <th ng-click="doSort('orderTotal')">Order Total</th>
            <th ng-click="doSort('joined')">Joined</th>
            <th>View Order</th>
          </tr>
          <tr ng-repeat="cust in customers | filter:customerFilter | orderBy:sortBy:reverse">
            <td>{{$index}}</td>
            <td>{{cust.name | uppercase}}</td>
            <td>{{cust.city}}</td>
            <td>{{cust.orderTotal | currency}}</td>
            <td>{{cust.joined | date}}</td>
            <td><a href="#/orders/{{ cust.id }}" class="color-violet"><i class="fa fa-shopping-cart"></i></a></td>
          </tr>s
        </table>
        <span>Total customers: {{ customers.length}}</span>

    </div>